@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif;
}

/* === NavBar=== */
@layer components {
  .btn-hover {
    @apply hover:text-orange transition-all duration-200 cursor-pointer px-2 self-center font-sans;
  }
  .btn-signIn {
    @apply bg-orange border-orange border-2 rounded-md hover:bg-white px-8 py-2 text-white hover:text-orange font-sans;
  }
}
.dropbtn {
  color: #323030;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  display: flex;
}
.icon-dropdown {
  font-size: 8px;
  margin-left: 2px;
  color: #323030;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-self: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 600px;
  left: -120px;
  padding: 15px;
  z-index: 1;
}
.dropdown-list {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}
.dropdown-content-left {
  width: 50%;
  float: left;
  color: black;
  padding: 15px 10px 10px;
  border: 1px solid #f26522;
  border-right: none;
  text-decoration: none;
  display: block;
}

.dropdown-content-right {
  width: 50%;
  float: left;
  color: black;
  padding: 15px 10px 10px;
  border: 1px solid #f26522;
  text-decoration: none;
  display: block;
}

.dropdown-content-last {
  color: black;
  width: 100%;
  border: 1px solid #f26522;
  padding: 15px 10px 10px;
  border-top: none;
  text-decoration: none;
  display: block;
}
.dropdown-flex {
  display: flex;
  flex-direction: row;
}
.mega-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #f15b1f;
  border-radius: 50%;
  float: left;
  background: #f15b1f;
}
.mega-text {
  margin: 0;
  padding-left: 10px;
  float: left;
  display: flex;
  flex-direction: column;
}
.mega-text p {
  font-size: 12px;
  overflow: hidden;
  margin: 0 0 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0c1325;
}
.col-mega-title {
  color: #00467f;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px 0 10px;
}
.dropdown-content p:hover {
  color: #f15b1f;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #f26522;
}
.dropdown:hover .icon-dropdown {
  color: #f26522;
  transform: rotate(180deg);
}
/* 



 */
/* 


}
 */
/* ===Footer=== */

.footer-top {
  /* padding: 30px 0px 0px; */
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  font-size: 14px;
  color: #0c1325;
  width: 100%;
  overflow-x: hidden;
  background: #fafafa;
  position: initial;
  padding: 30px 0 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.row {
  margin-right: -5px;
  margin-left: -5px;
  display: flex;
  flex-wrap: wrap;
}
.cols {
  width: 25%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.footer-col {
  margin: 0;
  padding: 0;
}
.footer-title {
  font-size: 14px;
  letter-spacing: 0.2px;
  margin: 0 0 10px;
  position: relative;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #0c1325;
}

/* ===Introduce=== */
.logoimg {
  max-width: 150px;
  margin-right: 8px;
}
.containerIntroduce {
  padding: 0 15px;
  margin: 0 75px;
  margin-top: 60px;
}

.subtitle {
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  line-height: 25px;
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.42857143;
  color: #333;
}
.lastTitle {
  font-size: 50px;
  font-weight: bold;
  margin: 25px 0;
  color: #0c1325;
  font-family: Arial, Helvetica, sans-serif;
}

.s-banner {
  margin-top: 65px;
  padding: 0;
  margin-bottom: 65px;
}
img {
  width: 100%;
  height: 100%;
}

.linechat {
  background-image: url(https://ld-wp73.template-help.com/wordpress/prod_5372/v1/wp-content/uploads/2019/10/bg-section-about.png);
  background-position: 91% 24%;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 60px 0;
  height: 100%;
  display: flex;
}
.containerLinechat {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 75px;
  width: 100%;
  display: flex;
}

.left-col {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
}
.subtitle1 {
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  line-height: 25px;
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;

  color: #0c1325;
}
.p-introduce {
  margin: 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  color: #0c1325;
}
.p-introduce-x {
  margin: 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  color: #656b9c;
}
.right-col {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
}
.line {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  font-size: 14px;
  color: #0c1325;
}
.author {
  order: 3;
  align-self: flex-start;
  margin: 30px 0px 0px 30px;
  border-radius: 50% 50% 50% 50%;
  overflow: hidden;
  width: 70px;
}
.message {
  order: 1;
  text-align: left;
  color: #656b9c;
  line-height: 1.6em;
  width: 81%;
  background-color: transparent;
  background-image: linear-gradient(180deg, #e9f8ff 0%, #f3f1fd 100%);
  padding: 40px 40px 44px 40px;
  margin: 0px 0px 0px 0px;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.client {
  padding: 60px 0;
  display: flex;
}

.containerClient {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 75px;
  margin-left: 75px;
}
.client-title {
  display: block;
}

.listing_client_logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.client-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  flex: 0 0 14%;
  max-width: 14%;
  height: 165px;
  text-align: center;
  padding: 15px;
  border: 1px solid rgb(234, 234, 234);
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: none;
}
.client-logo:hover {
  transform: translate(0, -4px);
  box-shadow: 3px 3px 4px #f7f7f7;
}
.staff {
  padding: 60px 0;
  display: flex;
}
.containerStaff {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 75px;
  width: 100%;
}
.staff-title {
  width: 100%;
}
.staff-content {
  width: 100%;
}

.box-staff {
  margin-bottom: 30px;
  text-align: center;
  width: 33.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.box-staff-img {
  overflow: hidden;
  border-radius: 10px;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #0c1325;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
}
.hiring {
  background: #e9f8ff;
  padding: 100px 0 0;
  position: relative;
  display: flex;
}
.containerHiring {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 75px;
  width: 100%;
}
.col-left {
  width: 58.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-right {
  width: 41.66666667%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.get-in-touch {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #0c1325;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  transition: color 0.2s;
}
.get-in-touch:hover {
  color: #f26522;
}
.icon {
  font-size: 46px;
  width: 85px;
  height: 85px;
  display: flex;
  background-color: rgba(7, 79, 128, 0.2);
  margin: 0px 20px 0px 0px;
  border-radius: 50% 50% 50% 50%;
  justify-self: center;
  align-items: center;
}
.icon-title {
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #f26522;
  color: #f26522;
}
.icon-affter {
  color: white;
  border-color: #f3f1fd transparent transparent transparent;
  margin-left: calc(25px / -2);
  display: block;
  position: absolute;
  bottom: -23px;
  left: 9%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 23px 25px 0 0;
}
/* ===Comment=== */
.comment {
  padding: 60px 90px;
  display: flex;
  width: 100%;
}
.containerComment {
  width: 100%;
}
.box-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.box-comment p {
  color: #656b9c;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.6em;
  padding: 80px 200px 80px 80px;
  border-radius: 5px 5px 5px 5px;
  background-color: #f0f3fd;
  font-family: "Montserrat", sans-serif;
}
.box-comment:after {
  content: "";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: #f3f1fd transparent transparent transparent;
  left: 10%;
  border-right-width: 21px;
  margin-left: calc(21px / -2);
  border-top-width: 23px;
  bottom: -23px;
  border-left-width: 0px;
}
/* ====Policy==== */

.containerPolicy {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 75px;
  margin-left: 75px;
  display: flex;
  flex-direction: column;
}
.heading-page {
  padding: 35px 0 60px;
  text-align: center;
}
.heading-page h1 {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: initial;
  color: #00467f;
  text-transform: uppercase;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}
.icon-policy {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 2px;
  background: #00467f;
}
.content-page {
  display: flex;
  flex-direction: column;
}
.policy {
  margin: 0 0 10px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  font-size: 16px;
  color: #333;
}
strong {
  font-weight: 600;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.h2-policy {
  font-size: 28px;
  color: #0c1325;
  margin: 0 0 13px 0;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}
b {
  font-weight: 600;
}
.content-page ul {
  padding-left: 40px;
  list-style-type: disc;
  margin-top: 0;
  margin-bottom: 10px;
}
.li-policy {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  font-size: 16px;
  color: #0c1325;
}
ol {
  padding-left: 40px;
  list-style-type: disc;
}

/* ====Slider==== */
.icon-slider {
  color: white;
  content: "";
  position: absolute;
  top: -17px;
  right: 50%;
  border: 8px solid transparent;
  border-top-color: #fff;
  border-right-color: #fff;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
}

li.slick-active .dot span {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
